// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

nav {
  background-color: #ea5455;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
  ul {
    display: flex;
    align-items: center;
    li:not(:last-child) {
      margin: 0 1.25rem 0 0;
    }
    li {
      a {
        color: #fff;
      }
    }
    .logout-btn,
    .login-btn {
      background-color: #f07b3f;
      border: 1px solid #f07b3f;
      border-radius: 2px;
      padding: 0.25rem 0.25rem;
      color: #fff;
      cursor: pointer;
    }
    .logo-nav-link {
      font-size: 1.5rem;
      font-weight: 700;
    }
  }
}

.flash-notice {
  margin: 1rem auto;
  padding: 1rem 0;
  background-color: #17d7a0;
  color: #fff;
  border: 4px solid #17d7a0;
  width: 60%;
  text-align: center;
  border-radius: 0.25rem;
}

.flash-error {
  margin: 1rem auto;
  padding: 1rem 0;
  background-color: #c85c5c;
  color: #fff;
  border: 4px solid #c85c5c;
  width: 60%;
  text-align: center;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}
